* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 16;
}

#cajas {
    max-width: 1035px;
}

.caja p {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 16px 16px;
    margin-top: 32px;
    padding: 10px;
    border: 8px solid #663399;
    float: left;
}

p {
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 2em;
}

.clearfix {
    float: none;
    clear: left;
}