* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#caja1, #caja2, #caja3 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 16px, 16px;
    margin-top: 32px;
    padding: 10px;
    border: 8px solid rebeccapurple;
}

p {
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 234px;
}