* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 1200px;
    border: 1px solid black;
    margin: 0px auto;
    margin-top: 20px;
}

#header {
    width: 100%;
    height: 100px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix {
    float: none;
    clear: both;
}

.menu {
    background-color: #eeee;
}

#menu ul li {
    display: block;
    float: left;
    padding: 16px;
    border-right: 1px solid #ccc;
}

#menu ul li a {
    display: block;
    color: #333;
}

#menu ul li a:visited {
    color: #333;
}

#menu ul li a:hover {
    background: purple;
    cursor: pointer;
    color: blue;
}

#content {
    width: 70%;
    height: 500px;
    background: #f4f4f4;
    padding: 20px;
}

#sidebar {
    width: 30%;
    border: 1px solid red;
    height: 500px;
    background: #f4f4f4;
    padding: 20px;
    float: right;
    text-align: center;
    max-height: 600px;
    overflow-y: scroll;
    margin-bottom: 24px;
}

#content >h2 {
    color: blue;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: -10px 10px 10px #000;
}

#content .box {
    width: 40%;
    height: 60px;
    background-color: #ccc;
    border: 1px solid gray;
    float: left;
    background: #ccc;
    margin: 16px;
    text-align: center;
    line-height: 60px;
    color: black;
    text-transform: uppercase;
    box-shadow: 4px 4px 10px gray;
    border-radius: 40px;
}

.shadow-inside {
    box-shadow: 0px 5px 10px gray inset !important;
}

footer {
    width: 100%;
    height: 100px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 90px;
    margin-top: 8px;
}

.free {
    position: absolute;
    top: 16px;
    left: 20%;
    background: #686565;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #ccc;
    font-size: 16px;
}

.secondFree {
    position: absolute;
    top: 16px;
    right: 20%;
    background: #686565;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #ccc;
    font-size: 16px;
}

.fixedBox {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #686565;
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #ccc;
    font-size: 16px;
}